@import url('https://fonts.googleapis.com/css2?family=Alan+Sans:wght@300..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Varela+Round&display=swap');

:root {
    --header1-height: 60px;
    --header2-height: 70px;
    --footer-height: 60px;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    scrollbar-width: none;
}
body {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-areas: 
    'header header'
    'search-con search-con'
    'main main'
    'footer footer'

    
    ;
    overscroll-behavior: none;
    grid-template-columns: 1fr ;
    grid-template-rows: var(--header1-height) var(--header2-height) 1fr var(--footer-height);
    font-family: 'Inter', sans-serif;
    transition: grid-template-columns .4s; 
}
body, html {
    padding: env(safe-area-inset-top) 
             env(safe-area-inset-right)
             env(safe-area-inset-bottom)
             env(safe-area-inset-left);
}
.header {
    grid-area: header;
    background: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba(0, 0, 0, 0.095);
}
.header_wraper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
}
.header_wraper nav ul {
    display: flex;
    align-items: center;
    list-style: none;
}
.header_wraper nav ul li {
    margin: 0 15px;
}
.header_wraper nav ul li a {
    text-decoration: none;
    font-size: .89rem;
    font-family: 'Outfit', sans-serif;
    color: rgb(0, 0, 0);
}
.sidebar {
    grid-area: sidebar;
    background: rgb(255, 255, 255);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.038);
    z-index: 99999;
    position: fixed;
    right: 0;
    top: 5px;
    bottom: 0;
    width: 0px;
    transition: width .3s;
    border-radius: 2px;
}

.main {
    grid-area: main;
    position: relative;

}
.footer {
    grid-area: footer;
}
.logo {
    font-size: 1.4rem;
    font-weight: bold;
}
.last-x {
    color: rgb(123, 0, 255);
}
.Login {
    padding: 7px 15px;
    border: none;
    border-radius: 3px;
    color: rgb(0, 94, 255);
    border: 1px solid rgb(0, 94, 255);
    transition: background .3s, color .3s;
    cursor: pointer;
}
.Login:hover {
    border: 1px solid transparent;
    background: rgb(0, 94, 255);
    color: white;
}

.addnewbtn {
    background: rgba(0, 0, 0, 0.017);
    padding: 7px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.043);
}
#openMenubar {
    padding: 7px 14px;
    border: none;
    border-radius: 3px;
    border: 1px solid rgba(0, 0, 0, 0.112);
    background: transparent;
    margin-left: 6px;
}
.search_container {
    grid-area: search-con;
    display: flex;
    align-items: center;
    justify-content: center;
}
.search-container-tem {
    width: 90%;
    max-width: 730px;
    display: flex;
    align-items: center;
    background: rgb(255, 255, 255);
    overflow: hidden;
    border-radius: 3px;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.148);

}

.search-con-wraper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.search-con-wraper input , button , select {
    padding: 12px 10px;
    border: none;
    background: transparent;
    outline: none;

}
.search-con-wraper input {
    width: 350px;
}
#SelectTypeData {
      border-left: 1px solid rgba(0, 0, 0, 0.104);
      color: rgba(0, 0, 0, 0.553);
      font-size: .8rem;
}

#SearchBtn {
    background: rgba(255, 255, 255, 0.988);
    color: rgb(5, 5, 5);
    font-size: 1.05rem;
}
#EditType {
    font-size: 1.02rem;
}
.Res-Search-con {
    display: flex;
    align-items: center;
}
.SearchInputs {
    display: flex;
    align-items: center;

}
.SearchInputs input button {
    flex: 1;
}
.Input-ins-group {
    display: flex;
    align-items: center;
}
#DeleteText {
    background: rgb(255, 243, 243);
    margin-left: 5.1px;
    border-radius: 3px;
    width: 35px;
    height: 33px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(231, 0, 0);
    cursor: pointer;
    transition: .3s;
    display: none;
}
#DeleteText.show {
    display: flex;
}
#DeleteText:hover {
    background: rgb(255, 228, 228);
    color: red;
}
#DefineInput {
    font-size: .8rem;
    color: rgba(0, 0, 0, 0.253);
    display: flex;
    align-items: center;
    position: absolute;
    left: 35%;
    transition: opacity .3s;
}
#DefineInput span:nth-child(1) {
    font-size: .8rem;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    border: 1px solid rgba(0, 0, 0, 0.113);
    margin-right: 3px;
}
#DefineInput span:nth-child(2) {
    font-size: .6rem;
}
#DefineInput span:nth-child(3) {
    font-size: .8rem;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    border: 1px solid rgba(0, 0, 0, 0.119);
    margin-left: 3px;
}
#overly {
    position: absolute;
    width: 100%;
    background: rgba(0, 0, 0, 0.196);
    z-index: 99999;
    transition: .2s;
}

#openMenubar {
    transition: .3s;
    cursor: pointer;
    display: none;
}
#openMenubar:hover{
    border: 1px solid rgba(0, 0, 0, 0.215);
}
.sidebar ul {
    list-style: none;
    margin-top: 20px;
}
.sidebar ul li a {
    text-decoration: none;
    font-size: .9rem;
    display: block;
    padding: 10px;
    border-radius: 5px;
    color: rgb(0, 30, 255);
    transition: .3s;
}
.sidebar ul li a.selected {
    background: rgb(89, 0, 255);
    color: white;
}
.sidebar ul li a:hover {
    background: rgba(0, 0, 0, 0.044);
    color: rgb(0, 30, 255);
}
.sidebar ul li {
    margin: 10px 0;
}
.sidebar_wraper {
    white-space: nowrap;
    padding: 5px;
}
#AddNewDataBtn {
    background: rgba(0, 60, 255, 0.082);
    color: rgb(0, 110, 255);
    width: 100%;
    height: 70px;
    border-radius: 3px;
    cursor: pointer;
    transition: .3s;
}
#AddNewDataBtn:hover {
    background: rgba(25, 0, 255, 0.14);
    color: rgb(0, 26, 255);
}
.footerDataSet {
    position: absolute;
    bottom: 10px;
    left: 10px;
}
#settings {
    color: rgba(0, 0, 0, 0.713);
    cursor: pointer;
    background: rgba(0, 0, 0, 0.01);
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1000px;
    transition: .3s;
}
#settings:hover {
    color: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.072);
}
#FormItem {
    border: 1px solid rgba(0, 0, 0, 0.047);
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    width: 100%;
    max-width: 900px;
    gap: 8px;
    padding: 10px;
}
#FormItem button {
    background: rgb(244, 244, 244);
    position: relative;
    color: rgba(0, 0, 0, 0.783);
    font-weight: bold;
    border-radius: 10px;
    height: 100px;
    transition: background .3s;
    cursor: pointer;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#FormItem button:hover {
    background: rgb(98, 0, 255);
    color: white;
}
.main_wraper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    padding: 10px;
    overflow: auto;
}

.TypeIcon {
    font-size: 2.3rem;
    margin: 7px 0;
    color: rgba(0, 0, 0, 0.896);
}
#FormItem button:hover .TypeIcon {
    color: white;
}
#HideSidebar {
    position: absolute;
    width: 40px;
    height: 40px;
    background: rgb(247, 247, 247);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.146);;
    border-radius: 1000px;
    left: -60px;
    opacity: 0;
    display: none;
    cursor: pointer;
}
#HideSidebar.active {
    top: 20px;
    display: flex;
    
}
#HideSidebar:hover {
    background: white;
}
.DataFFLengths {
    position: absolute;
    right: 10px;
    top: 10px;
    background: rgba(0, 115, 255, 0.09);
    color: rgb(0, 110, 255);
    font-weight: bold;
    width: 35px;
    font-size: .6rem;
    padding: 5px;
    height: 20px;
    border: 1px solid rgba(0, 145, 255, 0.195);
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#SearchBtn {
    cursor: pointer;
}
#FormItem button:nth-child(odd) .DataFFLengths{

    right: unset;
    top: 10px;
    left: 10px;
}
.IsBigCon {
    color: rgb(30, 180, 0);
    border: 1px solid rgba(0, 172, 9, 0.278);
    background: rgba(0, 255, 17, 0.09);
}
/* Mobile and laptop small screen */
#FormItem button:hover .DataFFLengths {
    border: none;
    background: none;
    color: white;
}
#FormItem button:hover .IsBigCon {
    border: none;
    background: none;
    color: white;
}

#DisplayItemContent {
    display: none;
    width: 100%;
    max-width: 800px;
}
#DisplayItemContent.show {
    display: block;
}

#FormItem.hide {
    display: none;
}
#SFDisplay p {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    margin: 8px 0;
}
#SFDisplay {
    width: 100%;
    padding: 10px;
}
#backToHome {
    background: rgb(255, 255, 255);
    width: 40px;
    height: 40px;
    border-radius: 1000px;
    font-size: 1rem;
    color: black;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.176);
    margin-bottom: 20px;
    cursor: pointer;
    transition: box-shadow .3s;
}
.SortForm {
    font-size: .9rem;
    font-weight: bold;
}
.hrManual {
    width: 10%;
    height: 1px ;
    background: rgba(0, 0, 0, 0.075);
    margin: 0 10px;
}
#backToHome:hover {
        box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.293);
}
#SearchContent {
    display: none;
}
#SearchContent.show {
    display: block;
}
#SearchContent p {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    margin: 8px 0;
}
#SearchContent {
    width: 100%;
    max-width: 800px;
    padding: 10px;
}
#CreateNew {
    width: 90%;
    max-width: 600px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99999;
    height: 0;
    overflow: hidden;
    box-shadow: 2px 2px 50px rgba(0, 0, 0, 0.472);
    transition: height .3s;
}
#CreateNew.show {
     height: unset;
}
#HideNewDataAddContainer {

}
.AddNew_wraper_container {
    padding: 10px;
    width: 100%;
    background: rgb(255, 255, 255);
    border-radius: 2px;
    white-space: nowrap;
}
.AddNew-header > p {
    font-size: 1.3rem;
    font-weight: bold;
    text-align: center;
    padding: 7px 0
}
.main-header {
    width: 100%;
}
.AddNew-main {
    margin-top: 30px;
}
.TypeOf {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}
.TypeOf input, select {
   flex: 1;
   padding: 9px 5px;
   border: none;
   background: rgba(11, 11, 11, 0.05);
}
.sortAndFull-form-data {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 15px;
}
.sortAndFull-form-data input {
    flex: 1;
    padding: 12px 5px;
    border: none;
    background: rgba(0, 0, 0, 0.049);
    border-radius: 3px;
}
#AddDataBtn {
    width: 100%;
    background: linear-gradient(49deg, rgb(0, 123, 255), rgb(119, 0, 255));
    color: white;
    font-weight: bold;
    border-radius: 3px;
    cursor: pointer;
    transition: background .2s;
}
#AddDataBtn:hover {
    background: linear-gradient(49deg, rgb(119, 0, 255), rgb(0, 123, 255));
}
.Submit-btn {
    margin-top: 15px;
    margin-bottom: 4px;
}
input {
    outline: none;
}
select {
    outline: none;
}
#HideNewDataAddContainer {
    width: 40px ; 
    height: 30px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.1rem;
    position: absolute;
    right: 10px;
    background: rgba(0, 0, 0, 0);
    transition: background .3s;
    cursor: pointer;
}
#HideNewDataAddContainer:hover {
    background: rgba(0, 0, 0, 0.041);
}
.main-header {
    width: 100%;
}
.AddNew-header {
    margin-top: 27px;
}
#overlyOther {
    position: absolute;
    width: 100%;
    height: 0;
    background: rgba(0, 0, 0, 0.138);
    z-index: 999;
}
#overlyOther.active {
    height: 100%;
}
#SelectTypeData {
    background: transparent;
}
#SFDisplay p:nth-child(even){
    background: rgba(0, 0, 0, 0.031);
}
#SFDisplay p {
    padding: 8px 10px;
}
#SFDisplay p:first-child {
    border-top: 1px solid rgba(0, 0, 0, 0.094);
    border-left: 1px solid rgba(0, 0, 0, 0.094);
    border-right: 1px solid rgba(0, 0, 0, 0.094);
}
#SFDisplay p:last-child {
    border-bottom: 1px solid rgba(0, 0, 0, 0.094);
    border-right: 1px solid rgba(0, 0, 0, 0.094);
    border-left: 1px solid rgba(0, 0, 0, 0.094);
}
.Footer-container > p {
    text-align: center;
    font-size: .8rem;
}   
.footer {
    background: rgba(0, 0, 0, 0.055);
}
.Footer-container {
    margin-top: 20px;
}
#EditType {
    background: transparent;
    transition: background .3s, color .3s; 
    cursor: pointer;
}
#EditType:hover {
    background: rgba(0, 0, 0, 0.053);
    color: black;
}
.DataTypeData {
    font-size: .48rem;
    position: absolute;
    top: -12px;
    background: rgba(0, 0, 0, 0.047);
    padding: 6px 8px;
    border-radius: 100px;

}
#SearchContent p {
    position: relative;
    margin: 20px 0 !important;
    border-bottom: 1px solid rgba(0, 0, 0, 0.041);
}
#SearchContent p .SortForm {
    background: rgb(255, 255, 255);
    padding: 1px 5px;
    border-radius: 1000px;
    z-index: 9;
}
.DataTypeData::after {
    position: absolute;
    content: '';
    width: 5px;
    height: 5px ;
    background: rgba(0, 0, 0, 0.04);
    right: -15px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 100px;
}



























@media screen and (max-width: 768px) {
    #overly.active {
   height: 100%;

}
    .header_wraper nav {
        display: none;
    }
    .search-con-wraper input {
    width: 100%;
}
#openMenubar {
    display: inline-block;
}
#sidebar.active {
    width: 250px
}
.main_wraper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0px;
}

}

/* Mobile Screen */

@media (max-width: 450px) {
#FormItem {
        grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
}
.sortAndFull-form-data input {
    width: 50%;
}
.TypeOf input, select {
    width: 33.33%;
}
}